/* ----- ----- ----- ----- ----- BODY SECTION ----- ----- ----- ----- ----- */

:root {
  --white: #F2F2F2;
  --white-50: rgba(242, 242, 242, 0.5);

  --black: #0D0D0D;
  --black-50: rgba(13, 13, 13, 0.5);

  --sage-purple: #B5A8B9;
  --sage-purple-50: rgba(181, 168, 185, 0.5);

  --sage-green: #9CAF88;
  --sage-green-50: rgba(156, 175, 136, 0.5);

}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Playfair Display', serif;
  background-color: var(--white);
  margin: 0;
  padding: 0;
}

/* ----- ----- ----- ----- ----- HERO-IMAGE SECTION ----- ----- ----- ----- ----- */

.hero-image {
  background-image: url("images/SarahMartin3.jpg");
  background-size: cover;
  background-position: 70% center;

  width: 100%;
  min-height: 100vh;
  position: relative;
}

.hero-logo-img {
  width: clamp(150px, 30vw, 500px);
  height: auto;
}

.hero-logo {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

/* ----- ----- ----- ----- ----- DESKTOP NAVIGATION SECTION ----- ----- ----- ----- ----- */

nav {
    background: transparent;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    padding: 25px 50px;
    margin: 0;

    align-items: right;
    justify-content: right;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
  }
  
  nav a {
    text-decoration: none;
    color: var(--white);
    font-family: "Playfair Display" , serif;
    letter-spacing: 5px;
    font-size: 15px;
  }
  
  nav .contact {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    color: var(--white);
    border: 3px solid var(--white);
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: bold;
  }