/* ----- ----- ----- ----- ----- BODY SECTION ----- ----- ----- ----- ----- */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    background-color: #F1EEF6;
}

/* ----- ----- ----- ----- ----- HERO-IMAGE SECTION ----- ----- ----- ----- ----- */

.hero-image {
    background-image: url("images/SarahMartin3.jpg");
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 1000px;

    position: relative;
}

.hero-logo {
    position: absolute;
    bottom: 50px;
    left: 50px;
}

/* ----- ----- ----- ----- ----- DESKTOP NAVIGATION SECTION ----- ----- ----- ----- ----- */

nav {
    background: transparent;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    padding: 25px 50px;
    margin: 0;

    align-items: right;
    justify-content: right;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
  }
  
  nav a {
    text-decoration: none;
    color: #f2f2f2;
    font-family: "Playfair Display" , serif;
    letter-spacing: 5px;
    font-size: 15px;
  }
  
  nav .contact {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    color: #f2f2f2;
    border: 3px solid #f2f2f2;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: bold;
  }

