
/* ----- ----- ----- ----- ----- BODY SECTION ----- ----- ----- ----- ----- */

:root {
  --white: #F2F2F2;
  --white-50: rgba(242, 242, 242, 0.5);

  --black: #0D0D0D;
  --black-50: rgba(13, 13, 13, 0.5);

  --sage-purple: #B5A8B9;
  --sage-purple-50: rgba(181, 168, 185, 0.5);

  --sage-green: #9CAF88;
  --sage-green-50: rgba(156, 175, 136, 0.5);

}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Playfair Display', serif;
  padding-top: 100px;
  background-color: var(--white);
  margin: 0;
}

/* ----- ----- ----- ----- ----- DESKTOP NAVIGATION SECTION ----- ----- ----- ----- ----- */

nav {
  background: var(--sage-purple);
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  padding: 25px 50px;
  margin: 0;
  box-sizing: border-box;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}
  
nav a {
  text-decoration: none;
  color: var(--white);
  font-family: "Playfair Display" , serif;
  letter-spacing: 5px;
  font-size: 15px;
}
  
nav .contact {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: var(--white);
  border: 3px solid var(--white);
  border-radius: 5px;
  padding: 10px 15px;
  font-weight: bold;
}

/* ----- ----- ----- ----- ----- CONTACT SECTION ----- ----- ----- ----- ----- */

#contact {
  text-align: center;
}

#contact h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 25px;
  color: var(--black);
  text-align: center;
}

#contact p {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 20px;
  color: var(--black);
  text-align: center;
}

/* ----- ----- ----- ----- ----- FOOTER SECTION ----- ----- ----- ----- ----- */

footer {
    background-color: var(--sage-purple);
    padding: 50px; 
  }

footer h1 {
    font-family: "Playfair Display", serif;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    color: var(--white);
}

footer p {
    font-family: "Playfair Display", serif;
    font-size: 15px;
    color: var(--white);
}

footer .footer-info {
    columns: 2;
    display: flex;
    column-gap: 25px;
    padding: 25px 0px;
}

footer ul, li, a {
    font-family: "Playfair Display", serif;
    font-size: 15px;
    color: var(--white);
    text-decoration: none;

    list-style: none;
    padding: 0;
}

footer .copyright {
    text-align: center;
}

