/* ----- ----- ----- ----- ----- BODY SECTION ----- ----- ----- ----- ----- */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Playfair Display', serif;
  background-color: #F8F6FB;
  margin: 0;
  padding: 0;
}

/* ----- ----- ----- ----- ----- TABLE OF CONTENTS ----- ----- ----- ----- ----- */

.table-of-contents {
  background-color: #7851A9;
  padding: 50px 25px;
  width: 250px;
  min-height: 100vh;
  position: sticky;
  top: 0;
}

.table-of-contents a {
  font-size: 15px;
  font-weight: 100;

  color: rgba(248, 246, 251, 0.5);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px;
  gap: 25px;

}

.table-of-contents summary {
  font-size: 15px;
  font-weight: 1000;

  color: #F8F6FB;
  padding: 5px;
}

.table-of-contents img {
  display: block; 
  padding: 25px;
}

/* ----- ----- ----- ----- ----- PORTFOLIO SECTION ----- ----- ----- ----- ----- */

.portfolio-layout {
  display: flex;
  align-items: flex-start;
}

.portfolio-section {
  padding: 25px 0px;

}

.heritage-hats {
  padding: 50px;

}

.heritage-hats h1 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 1000;

  color: #060408;
  text-align: center;

}

.heritage-hats h2 {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-weight: 1000;

  color: #060408;
  text-align: center;
}

.heritage-hats h3 {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-weight: 100;

  color: rgb(6, 4, 8, 0.5);
  text-align: center;
}

.heritage-hats img {
  max-width: 500px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* ----- ----- ----- ----- ----- BRAND GUIDE ----- ----- ----- ----- ----- */

.brand-guide-section img {
  max-width: 900px;
  width: 100%;
  height: auto;
  display: block;
  margin: 50px auto;
}


/* ----- ----- ----- ----- ----- COLOR PALETTE ----- ----- ----- ----- ----- */

/* #F8F6FB WHITE */
/* #060408 BLACK */

/* #7851A9 ROYAL PURPLE */

/* rgba(120, 81, 169, 0.5) 50% ROYAL PURPLE */


/* 3C2955 DARK ROYAL PURPLE */
/* #BBA8D4 LIGHT ROYAL PURPLE */