
/* ----- ----- ----- ----- ----- BODY SECTION ----- ----- ----- ----- ----- */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Playfair Display', serif;
  padding-top: 100px;
  background-color: #F8F6FB;
  margin: 0;
}

/* ----- ----- ----- ----- ----- DESKTOP NAVIGATION SECTION ----- ----- ----- ----- ----- */

nav {
  background: #7851A9;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  padding: 25px 50px;
  margin: 0;
  box-sizing: border-box;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}
  
nav a {
  text-decoration: none;
  color: #F8F6FB;
  font-family: "Playfair Display" , serif;
  letter-spacing: 5px;
  font-size: 15px;
}
  
nav .contact {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: #F8F6FB;
  border: 3px solid #F8F6FB;
  border-radius: 5px;
  padding: 10px 15px;
  font-weight: bold;
}

/* ----- ----- ----- ----- ----- ABOUT SECTION ----- ----- ----- ----- ----- */

#about {
background-color: #F8F6FB;
 padding: 50px;
 display: flex;
 gap: 50px;
}

#about img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.about-section h1 {
  font-family: "Playfair Display", serif;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;

  color: #060408;
  text-align: left;
  margin: 0px;
  max-width: 600px;
}

.about-section h2 {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;

  color: rgba(6, 4, 8, 0.5);
  text-align: left;
  margin: 0px;
  max-width: 600px;
}

.about-section p {
  font-family: "Playfair Display", serif;
  font-size: 15px;
  color: #060408;
  text-align: left;
  max-width: 600px;
}



/* ----- ----- ----- ----- ----- FOOTER SECTION ----- ----- ----- ----- ----- */

footer {
    background-color: #7851A9;
    padding: 50px; 
  }

footer h1 {
    font-family: "Playfair Display", serif;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    color: #F8F6FB;
}

footer p {
    font-family: "Playfair Display", serif;
    font-size: 15px;
    color: #F8F6FB;
}

footer .footer-info {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  column-gap: 25px;
  padding: 25px 0px;
}

footer ul, li, a {
    font-family: "Playfair Display", serif;
    font-size: 15px;
    color: #F8F6FB;
    text-decoration: none;

    list-style: none;
    padding: 0;
}

footer .copyright {
    text-align: center;
}

/* ----- ----- ----- ----- ----- MOBILE ----- ----- ----- ----- ----- */


@media (max-width: 600px) {

  #about {
    flex-direction: column;
    text-align: center;
    padding: 30px;
  }

  .about-section {
    max-width: 100%;
  }
}

/* ----- ----- ----- ----- ----- COLOR PALETTE ----- ----- ----- ----- ----- */

/* #F8F6FB WHITE */

/* #060408 BLACK */

/* #7851A9 ROYAL PURPLE */

/* rgba(120, 81, 169, 0.5) 50% ROYAL PURPLE */


/* 3C2955 DARK ROYAL PURPLE */

/* #BBA8D4 LIGHT ROYAL PURPLE */

