/* ----- ----- ----- ----- ----- COLOR PALETTE ----- ----- ----- ----- ----- */

:root {
  --white: #F2F2F2;
  --white-50: rgba(242, 242, 242, 0.5);

  --black: #0D0D0D;
  --black-50: rgba(13, 13, 13, 0.5);

  --sage-purple: #B5A8B9;
  --sage-purple-50: rgba(181, 168, 185, 0.5);

  --sage-green: #9CAF88;
  --sage-green-50: rgba(156, 175, 136, 0.5);

}

/* ----- ----- ----- ----- ----- COLOR PALETTE ----- ----- ----- ----- ----- */

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 1000;

  color: var(--black);
  text-align: center;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-weight: 1000;

  color: var(--black);
  text-align: center;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 1000;

  color: var(--black-50);
  text-align: center;
}

/* ----- ----- ----- ----- ----- BODY SECTION ----- ----- ----- ----- ----- */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  margin: 0;
  padding: 0;
}

hr {
border-color: var(--sage-purple);
}

/* ----- ----- ----- ----- ----- TABLE OF CONTENTS ----- ----- ----- ----- ----- */

.table-of-contents {
  background-color: var(--sage-purple);
  padding: 50px 25px;
  width: 250px;
  min-height: 100vh;
  position: sticky;
  top: 0;
}

.table-of-contents a {
  font-size: 15px;
  font-weight: 100;

  color: var(--white-50);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px;
  gap: 25px;

}

.table-of-contents summary {
  font-size: 15px;
  font-weight: 1000;

  color: var(--white);
  padding: 5px;
}

.navigation a {
font-size: 15px;
  font-weight: 1000;
  color: var(--white);
  padding: 5px;
}

.table-of-contents img {
  display: block; 
  padding: 25px;
}

/* ----- ----- ----- ----- ----- PORTFOLIO SECTION ----- ----- ----- ----- ----- */

.portfolio-layout {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.portfolio-section {
  padding: 25px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.desktop {
    width: 500px;
    height: 250px;

    overflow-y: scroll;
    overflow-x: hidden;

    border: 5px solid #A5B18A;

    display: flex;
    flex-direction: column;

    margin: 50px;
}

.mobile {
    width: 250px;
    height: 500px;

    overflow-y: scroll;
    overflow-x: hidden;

    border: 5px solid #A5B18A;

    display: flex;
    flex-direction: column;

    margin: 50px;
}